albucore
albumentations
annotated-types
anyio
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
cycler
Cython
easydict
fastapi
flatbuffers
fonttools
greenlet
h11
httptools
humanfriendly
idna
imageio
insightface
joblib
kiwisolver
lazy_loader
matplotlib
ml_dtypes
mpmath
networkx
numpy
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
pillow
pip
prettytable
protobuf
pycparser
pydantic
pydantic_core
pydantic-settings
PyMySQL
pyparsing
pyreadline3
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
scikit-image
scikit-learn
scipy
simsimd
six
sniffio
SQLAlchemy
starlette
stringzilla
sympy
threadpoolctl
tifffile
tqdm
typing_extensions
typing-inspection
urllib3
uvicorn
watchfiles
wcwidth
websockets